[2016-06-14 14:56] dceara opened #2 "Release script hardcodes remote name"
The "origin" remote name is hardcoded in the release.sh script. This might not always be correct.

Also, the check which prevents running the script on a non-master branch is commented out.

[2016-06-15 11:17] #2 closed

[2016-06-21 11:01] dceara opened #7 "Incorrect Perl example path in README"

[2016-06-21 11:09] #7 closed

[2016-08-09 11:17] chandrasheker opened #9 "spelling mistake in test_6_http_40M_sessions.cfg"
Please check the infinite spelling in test_6_http_40M_sessions.cfg file line number 80.

set tests timeouts port 0 test-case-id 0 uptime infinte
set tests timeouts port 0 test-case-id 0 downtime infinite

[2016-08-09 11:47] dceara commented on #9
Thanks. I'll address it in the next release.

The CLI will fail to execute the command. However, it doesn't affect execution in any way as the default rate limiting is anyway "infinite".

[2016-08-09 11:49] chandrasheker commented on #9
:)

[2016-08-09 12:06] dceara commented on #9
Fixed by commit https://github.com/Juniper/warp17/commit/6f4822b8b1e6ef41bd94f87f6a3cad427947e2df.
Will be available in v1.3

[2016-08-09 12:06] #9 closed

[2016-09-22 06:10] chandrasheker opened #10 "Multiple L3 Interfaces are getting configured with same IP address"
**./warp17-master/src/tpg_test_mgmt_api.c** line number 594. Re check the logic of FOR loop for detecting duplicate IP.

Please find the log:

warp17> add tests l3_intf port 0 ip 10.0.0.253 mask 255.255.255.0
L3 interface successfully added.
warp17> add tests l3_intf port 0 ip 10.0.0.253 mask 255.255.255.0
L3 interface successfully added.
warp17> add tests l3_intf port 0 ip 10.0.0.253 mask 255.255

[2016-09-22 11:45] dceara commented on #10
Fixed by commit https://github.com/Juniper/warp17/commit/31b92f1d25d68e3140f0b24fabd8db329d2a64a0. Will be available in release 1.3.

[2016-09-22 11:45] #10 closed

[2016-11-02 10:14] chandrasheker opened #11 "Unable to start two test cases in async mode as mentioned in test_3_http_multiple.cfg"
We tried running WARP17 with cmd-file tests_3_http_multiple.cfg as input to start two test cases in parallel but when we see port stats using "show tests ui"  it is showing that TcId 0 State as running and TcId 1 state as IDLE.

[2016-11-02 15:18] dceara commented on #11
Fixed by commit 27ee80c651fe6d7c845f91ebdac2b016b2d39c9f. Will be available in release 1.4.

[2016-11-02 15:18] #11 closed

[2016-11-11 11:43] dceara opened #12 "Rate statistics (Link/IP/TCP/..) are not available outside the UI"
The stats should be available for querying through:
- CLI
- RPC

[2016-12-05 14:53] konstantin-ananyev opened #15 "problem with FIN retransmit"
In tsm_SF_fin_wait_I() you send a FIN packet and increment  tcb_snd.nxt.
So when FIN is re-transmitted later (by RTO) all new FINs have seq number greater by one
then initial FIN.
So for the peer system, if first FIN was lost it looks like there is still a 1B gap in the receive sequence,
and session might not be closed properly.
Below is a patch I used to fix the issue.
It is not a proper fix, jus

[2016-12-06 13:32] dceara commented on #15
Fixed with commit https://github.com/Juniper/warp17/commit/099f02ac6bf42d9fd9e4af60e63786cdfd5dc119.

Will be available in version 1.4

[2016-12-28 17:17] krisk0 opened #16 "warp17 would not stop after completing tests"
With simple .cmd
[code]
warp17 says ```USER1: Port 0, Test Case 0 "PASSED"!```. I need to run automated nightly tests and therefore want warp17 to exit at this point. Unfortunately I don't know a good way of doing this.

How do I tell warp17 to terminate after all tests are done?

[2016-12-29 11:52] dceara commented on #16
There's currently no way in the CLI to stop warp17 automatically when all tests are completed.

However, scripting it to stop when it's done is quite easy. You have two options:
- start warp17 with the configuration file and monitor the syslogs on your system for `USER1: Port 0, Test Case 0 "PASSED"!` or failed messages. Once you decide that all tests are done you can safely kill warp17.
- use the

[2016-12-29 20:48] krisk0 commented on #16
Thank you. The explanation is clear.

[2016-12-29 20:48] #16 closed

[2016-12-30 15:00] nithinn opened #17 "Link Speed calculation"
In function test_display_stats_hdr(), the links speed in bytes is calculated as below:

` link_speed_bytes = (uint64_t)link_info->link_speed * 1024 * 1024 / 8;`

Bit rates are represented in units of 1000 not 1024, for e.g. 1kbps = 1000 bits/sec.

So the link speed calculation must be as below:
` link_speed_bytes = (uint64_t)link_info->link_speed * 1000* 1000 / 8;`

[2017-01-02 15:04] dceara commented on #17
Thanks Nithin for the report! Will be fixed as soon as possible.

[2017-01-04 10:13] dceara commented on #17
Fixed with commit https://github.com/Juniper/warp17/commit/21d6a45b669b335a61b531fa5040db38696a483b

Will be available in version 1.4

[2017-01-04 10:14] dceara commented on #17
Reopening until release 1.4 is available.

[2017-01-19 05:53] roytanmoy opened #18 "request for supporting predefined numbers of request/response for warp communication"
Currently there's no way to configure a test case that would stop after the application received a given number of responses (or after a given number of requests). E.g., I am trying to form a testcase of sending only one GET request and after the response is response is received the test will stop immediately.

  It would definitely be a nice feature to have.

[2017-01-19 06:05] roytanmoy opened #19 "separate counters for application request and response in show <http> stats cli"
For now there's no counter for different types of HTTP packets (requests or responses). However, on the client side, all the sent requests are of the type configured and on the server side all the sent responses are of the type configured.

It would be nice to have specific counters for reqs and resp of application traffic (http).

[2017-01-24 09:44] dceara commented on #19
This functionality will be added in v1.5.

[2017-01-24 09:44] dceara commented on #18
This functionality will be added in v1.5.

[2017-01-24 09:44] dceara commented on #17
Fixed in v1.4.

[2017-01-24 09:44] #17 closed

[2017-01-24 09:45] dceara commented on #15
Fixed in v1.4.

[2017-01-24 09:45] #15 closed

[2017-01-24 09:45] dceara commented on #12
Will be fixed in v1.5

[2017-01-25 04:47] yogi1990 opened #20 "Data Sends per second shown on Warp UI is not calculated properly for all values of send-rate configured from Warp-CLI commands."
Hello WARP Team,

**Setup Details:**
I have setup warp17 (with DPDK 16.04) on one 40G port with 11 cores for client and 11 core server on different machines.I have 1 HTTP Client connection towards 1 server, and my request size is 13000 Bytes

**Working Scenario:**
If I set send-rate in the client configuration file as 500( say any value less than 1000 or any value greater than 1000, but should be

[2017-01-25 10:07] anandkolli opened #21 "TCP Delay Ack feature as described in rfc1122(section 4.2.3.2)"
Hello Team,
As discussed raising an issue for TCP delay ack feature.

The current version of WARP sends TCP acknowledgment for every segment it receives due to which we are seeing a drop in throughput.
Is there milestone to implement or enhance to support TCP delayed ack mechanism as mentioned in https://tools.ietf.org/html/rfc1122   section 4.2.3.2

Thank & Regards,
Anand

[2017-02-15 07:03] krisk0 opened #22 "warp17 does not free hugepages on exit"
On start, warp17 version 1.4 takes all available hugepages.

On exit or kill, it does not free them. At least when stoped via 'exit' command on console or with 'pkill warp17'.

This gluttony makes it hard to use warp17 in server/multiuser environment.

[2017-02-15 08:55] dceara commented on #22
I assume you mean that the number of free hugepages in /proc/meminfo doesn't show those hugepages as "free". This is most likely a problem with the kernel updating /proc/meminfo.

However, the pages are free and available for other applications to use once warp17 exits.

For example, on a machine with 96 * 1G huge pages:

[code]

[2017-02-15 08:55] #22 closed

[2017-02-15 09:11] krisk0 commented on #22
Yes, the memory is available for other applications, after warp17 exits.

dceara, thanks for explanation.

[2017-02-16 12:16] dceara opened #23 "Incorrect command line args validation"
Invalid command line args are not properly detected:

[code]

`--ucb-p` is not a valid argument but no error is returned. Moreover the `--cmd-file` argument is silently skipped.

[2017-02-16 14:23] guoguo0906 opened #24 "Poll msg error"
Hi,WARP Team,
I am a new programmer,recently, I would like to learn something about the WARP17 and how does the DPDK handle the message quickly，but when I run the test script，it will always print an error “(tpg_pktloop.c)Failed to poll for messages,(-22)”,I don't know where is the wrong process and how to solve it ，can you help me?Thanks very much!

[2017-02-16 14:42] dceara commented on #24
Hi,

Can you please share some more information?
What version of WARP17 are you trying out?
What script are you trying to run and what's the exact command line you're using?
What kind of machine are you running it on?

The error you mentioned doesn't appear with that format anywhere in our codebase. Did you make any local changes to the code?

Also, if possible, we prefer using the warp17 google g

[2017-03-07 07:24] nithinn opened #26 "Insufficient memory allocation for default Gateway"
In function route_init(), the variable 'default_gw_per_port' is allocated for one instance'. This cause invalid memory access when multiple ports are used for traffic generation:
For e.g. in function route_v4_nh_lookup() where default_gw_per_port is accessed like this -> default_gw_per_port[port].re_nh.ip_v4;

[code]

This should be
[code]

[2017-03-16 02:29] MetalGearRay opened #27 "PPPoE support"
Hi, WARP17 team,

Is there mileston to support PPPoE in WARP? If not, is it easy to be plugged in by myself ? I am quite new to WARP17, any advice would be appreciated.
I am sorry that I can only put questions here instead of WARP google group.

[2017-03-17 14:34] dceara commented on #27
Hi,

Unfortunately we don't have a milestone for PPPoE yet. I think it's not that straightforward to add the implementation. However, if you'd like to contribute, some of the areas you might have to change/extend are:
- ethernet processing (tpg_ethernet.c) where you'd need to handle PPP type traffic and call the corresponding PPPoE state machine implementation
- once you reach the IP layer in your

[2017-04-04 08:21] dceara opened #28 "UDP raw traffic is not sent on all sessions if data-resp-plen is 0"
In the raw application implementation if ra_resp_size is 0 we stay in the same state and never notify the test engine to move the session at the end of the queue.

[2017-04-05 11:36] dceara commented on #28
Fixed with commit https://github.com/Juniper/warp17/commit/e7d6c2fc2d90db2d5d6a720747833634d78092fa.

Will be available in v1.5

[2017-04-10 15:24] fbljnpr opened #30 "After some time warp17 server in udp test reply rate gets drastically reduced."
This UDP test is used to send 6k jumbo wire rate on a 10G interface through an MX with ms-mpc, basic nat config with enough ports, etc (no drops found on the MX), expecting a 6k reply from the server on the outside nat domain.

Drops are expected, therefore test parameters are 1s uptime 0s init 0s down with enough clients to keep the line saturated. It initially works fine, with about 200kpps in b

[2017-04-12 14:41] mrakesha opened #31 "WARP17 installation on VM : DPDK error for vmxnet interfaces"
Hi Dumitru,

We are currently installing WARP17 on our VM machine.
The machine has 4 cores and 16 GB RAM.

We have installed the DPDK and WARP17.
But when I try to run warp17 application , we hit following DPDK error.

We have already merged the patch http://dpdk.org/dev/patchwork/patch/945/

[code]

DPDK :

[code]

Please help when you find time.
Thanks a lot for what you are doing to the communi

[2017-04-18 07:56] dceara commented on #26
Fixed with commit https://github.com/Juniper/warp17/commit/a558103f3d91ed236920347bcea8e4dcebf32a27

Will be available in v1.5

[2017-04-18 07:56] #26 closed

[2017-04-21 11:59] chandrasheker opened #33 "Warp is not clearing IP & TCP(tsm) statistics after end of Test case."
There is no utility function or CLI command to clear statistics manually if we needed after test case end.

[2017-05-09 13:40] bbethell opened #35 "This system does not support AVX2"
AVX is present but not AVX2? I deployed the ova from the website

[2017-05-10 12:49] dceara commented on #35
Can you please try to recompile DPDK and Warp17 within your VM? The instructions are here:
https://github.com/Juniper/warp17#install-dpdk-1611

What hypervisor are you using?

[2017-05-10 15:36] bbethell commented on #35
Hi,

I originally downloaded your OVA file.

I can have another go at rebuilding it from scratch.

Currently I am useing ESXI 5.5

Kind Regards,

Billy

---- Dumitru Ceara wrote ----

Can you please try to recompile DPDK and Warp17 within your VM? The instructions are here:
https://github.com/Juniper/warp17#install-dpdk-1611

What hypervisor are you using?

—
You are receiving this because you aut

[2017-05-11 09:35] dceara commented on #35
@bbethell, can you also share the cpu flags in your guest? Did it work after rebuilding from scratch?

[code]

[2017-05-18 14:49] dceara commented on #33
Will be available in v1.5.

[2017-05-18 14:49] #33 closed

[2017-05-23 13:16] dceara commented on #12
Will be available in v1.5.

[2017-05-23 13:16] #12 closed

[2017-06-02 10:54] dceara commented on #23
Fixed by commit https://github.com/Juniper/warp17/commit/f3c4471d29ac83fa167d77162f574f795128be9a.

Will be available in v1.5.

[2017-06-02 10:54] #23 closed

[2017-06-06 10:09] amjaingzb opened #36 "Timers are not cancelled when receiving ack for data sent"
There is a bug where in the timers are not cancelled, when the acknowledgement arrives for the data segment, which causes the timer queues to keep growing (and also re-transmissions).
Setup : establish 1 connection with a test duration of say 2 seconds, in a back to back setup with port 0 as part of client profile and port 1 as part of server profile.
There after issue
warp17> show timer statistic

[2017-06-07 07:10] dceara commented on #36
@amjaingzb Thanks for the issue report!

About your fix, I'm afraid in certain scenarios you will cancel the retransmission timer too early. For example, if the TCP ACK we received acks only part of the data we have on the retransmission lists then the RTO timer should stay on the run queue because there's more data that needs to be acked.

I think a better place to cancel the RTO timer is inside

[2017-06-08 09:31] amjaingzb commented on #36
Thanks Dumitru,
I tried with the change you propose and its working fine (although I have just done basic sanity).
I have done the fix. https://github.com/Juniper/warp17/compare/dev/common...amjaingzb:patch-2

regards,
Amit Jain

[2017-06-12 06:13] dceara opened #37 "Add support for gracefully stopping running tests"
The current behavior of `stop tests port X` is to forcefully stop any running test cases (and sessions) on port `X`. It would be nice if WARP17 would try to stop sessions gracefully (especially stateful sessions like TCP) in order to allow any stateful devices in the network to flush their session states.

A possibility would be to extend the current command to:

[code]

The `timeout` argument wou

[2017-06-12 11:50] dceara commented on #36
Thanks Amit. I just ran the complete unit test suite and I see no issues. I opened a pull request on your behalf and I'll merge the fix as soon as possible.

Regards,
Dumitru

[2017-06-12 13:55] dceara commented on #36
Fixed through commit https://github.com/Juniper/warp17/commit/c7c0aa63a9a8d37e536c98aa402d791e37b444da. Will be available in v1.5.

[2017-06-12 13:55] #36 closed

[2017-06-23 08:51] chandrasheker opened #40 "Bug when the value of to_win_size increases to 8000+ in /warp17-master/api/warp17-sockopt.proto"
The current WARP17 is released with constant window size as 1024 but when I try to increase the to_win_size parameter in ./warp17-master/api/warp17-sockopt.proto to 8000+ and run warp application connected back to back with http payload as 10000 bytes on client and server then I see two bugs/Issues.

1) As I configured 10000 bytes of application data and window size of 8000 bytes, application will

[2017-06-23 13:52] dceara commented on #40
Hi Chandrasheker,

You don't need to change the defaults in the warp17-sockopt.proto file because all those values are configurable per test. For example, for TCP window size you can add this to your config:
[code]

This way you don't have to recompile every time.

I see you're using the master version. Can you please try with the latest dev/common branch code? It also includes the fix for https:/

[2017-06-24 11:55] chandrasheker commented on #40
Hi Dumitru,

I have tested with fix #36 as you mentioned but result is same. Till RTO fires warp is not trying to send remaining data/new data even it receives ACK for previous segments. Even after RTO expiry remaining bytes(which are not even transmitted once) in re-transmission queue is getting updated as re-transmitted bytes.

Thanks,
Chandrasheker M.

[2017-07-07 18:26] dceara commented on #21
Fixed with commit https://github.com/Juniper/warp17/commit/54281ebb6a89617c02b2702cd01ea61ca3063745. Will be available in v1.5

[2017-07-07 18:26] #21 closed

[2017-07-18 09:43] dceara opened #41 "Incorrect session creation when using `max-q` and 28 packet cores"
Using the following command line:

[code]

And the following config that should create 15M TCP sessions on a back to back setup:
[code]

We can notice Warp17 tries to create too many TCP sessions:

[code]

Using `max-c` works fine:

[code]

[2017-07-19 06:52] #24 closed

[2017-07-19 06:53] #35 closed

[2017-07-19 14:01] dceara opened #42 "Warp17 (sometimes) fails to start X710 port"
Due to a bug in the DPDK i40e PMD (or X710 firmware) Warp17 sometimes fails to start X710 interfaces.

Original bug report: http://dpdk.org/ml/archives/users/2017-July/002200.html

Until the bug is fixed in DPDK/firmware a workaround fix should be added to Warp17 to avoid these errors. An option could be to delay restarting ports (similar to what happens in DPDK's `test-pmd` when stopping ports).

[2017-08-18 12:29] mrakesha opened #43 "Need support for Latency measurement on WARP17"
Hi Dumitru,

We need latency stats support on WARP17, it can help us often identifying the problem when application/network performance is slow and low.  Thanks in advance.

Thanks,
Rakesh mishra

[2017-08-21 12:28] davvore33 commented on #43
Hi Rakesha Mishra,
I’ll take care about this since now
———————————————————————————
Matteo Triggiani,
Sustaining Engineering Team

mtriggiani@juniper.net<mailto:mtriggiani@juniper.net>

On 18 Aug 2017, at 2:29 PM, mrakesha <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi Dumitru,

We need latency stats support on WARP17, it can help us often identifying the problem when applic

[2017-08-23 07:01] mrakesha commented on #20
Hi Dumitru,

Just to add one point to this issue, the WARP17 is not sending the exact send rate which is currently configured on WARP17.

send configured | Actual packets send rate | percent difference
800000               | 770230                             | 3.7
1000000             | 989762                             | 1.02
3700000             | 3449564                           | 6.76
4200000

[2017-08-24 19:01] mrakesha opened #44 "WARP17 send rate issue on AWS VM machines"
Hi Dumitru and Matteo,

Raising this issue for tracking..

We are trying to send the WARP17 UDP traffic from AWS (Amazon Web Service) VM machines to VSRX, But we don’t see any state full traffic established in both UDP and TCP case.

-	Send rate is 0 as oppose to configured 10k.
-	Established session is showing as 0
-	We only see Client and Server are sending only 1 packet each and then stop.
-	He

[2017-09-05 12:18] chandrasheker opened #45 "Bug in calculating TCP bytes sent."
Hi Dumitru,

There is a bug in calculating TCP bytes sent where l2 and l3 header length is also being added into tcp bytes sent(control and data).

Regards,
Chandrasheker M.

[2017-09-06 13:44] dceara commented on #44
@mrakesha: as discussed offline, this is related to AWS tagging all frames before sending them to the VM. VLAN is not supported for now in Warp17 and it causes L4 lookups to fail. If configuring AWS to not tag the frames, an alternative is to patch Warp17 and always disable RSS hash computation in hardware and using a single processing core per port.

[2017-09-06 13:44] #44 closed

[2017-09-06 13:47] dceara opened #46 "Add support for specifying HTTP content-type"
When configuring HTTP as an application for a test-case the user should be allowed to specify different content types.

A new configuration option `content-type` should be available to the user.

[2017-09-06 13:50] dceara opened #47 "Add support for configuring IPv4 DSCP/TOS/ECN"
A new configuration should be available for IPv4 socket options which should allow the user to set the values used for DSCP/TOS/ECN in outgoing packets.

[2017-09-06 13:50] mrakesha commented on #44
Hi Dumitru,

Thanks Dumitru for identifying the issue. Now it will be with the Amazon support team to remove the vlan tag before sending the packets to the VM.

Regards,
Rakesh Mishra

[2017-09-06 13:53] dceara opened #48 "Add support for "client" UDP multicast test cases"
A new option should be added to UDP to support sending to multicast destinations. Right now there's no check on destination IP so a multicast IP is acceptable but if the IP is multicast we don't map the lower IP bits in the Ethernet Multicast address but actually try to ARP it.

[2017-09-06 13:54] dceara opened #49 "Add support for IPv4 fragmentation"

[2017-09-12 11:09] dceara commented on #46
Fixed by commit https://github.com/Juniper/warp17/commit/788bc894718145dc5a5441500c90e8d7c6b8c521.

Will be available in v1.5.

[2017-09-12 11:09] #46 closed

[2017-09-14 06:26] chandrasheker opened #50 "ARP packets/bytes sent are not getting added into port Link TX counters."
ARP packets/bytes received are getting added into port link RX counters, but ARP packets/bytes sent are not getting added into port link TX counters.

[2017-09-14 10:47] chandrasheker commented on #50
Only server side Link RX counters are getting incremented for ARP packet/byte received, on client side both TX and RX are not getting incremented for ARP packets/bytes.

[2017-09-14 11:49] chandrasheker commented on #50
In test_start_cb function we are trying to clear port stats after sending ARP packets. Please update the function so that clearing of stats will be done before sending ARP packets.

[2017-09-14 12:04] dceara commented on #47
Fixed by commit https://github.com/Juniper/warp17/commit/333792f4307a06ee3f7a34e19f5ada8591b2717b.

Will be available in v1.5.

[2017-09-14 12:04] #47 closed

[2017-09-14 12:09] dceara commented on #50
@chandrasheker Thanks for the bug report. I'll take care of it soon.

[2017-09-14 12:14] chandrasheker commented on #50
Hi @dceara now link TX counters are getting updated properly(after changing code to reset stats before ARP packets send) but receive link counters on client are not getting updated properly. I was going through the code to find out where we are doing wrong, but I'm unable to find out whats wrong on client side. If you can find and share any pointer to fix this thing will be very help full for me.

[2017-09-14 13:37] chandrasheker commented on #50
I'm trying to run both client and server on same instance of warp17.. at start of the test cases we are trying to clear link stats because of very minimal delay between start of server and client ports client stats are getting cleared and we are unable to Rx bytes of client properly. I feel clearing of stats should be done manually by user or after the end of test case we can clear :) Hope this an

[2017-09-15 08:51] dceara commented on #50
Hi @chandrasheker,

The reason why we don't clear stats automatically when `tests stop port <x>` is executed is because we don't want to lose the test case statistics. A user might want to stop all traffic and then collect the test case related statistics. We already have the `clear stats port <x>` CLI that can be run at any time to clear non-test-case-related stats manually.

I will remove the po

[2017-09-21 09:00] davvore33 opened #51 "README it's too big"
Write a more clear and structured documentation that helps users and developers also through the code

[2017-09-21 09:52] dceara commented on #45
Fixed by commit https://github.com/Juniper/warp17/commit/59885f708f1e6161029675e1491f7f6a80835d76.

Will be available in v1.5.

[2017-09-21 09:52] #45 closed

[2017-09-25 14:08] dceara commented on #48
Fixed by commit https://github.com/Juniper/warp17/commit/1a7ee6d8e62fa305297da78eb36b181abb970f02. Will be available in v1.5

[2017-09-25 14:08] #48 closed

[2017-09-27 09:16] davvore33 commented on #51
Here is a couple of doc generators that we could use:

- [Sphinx](http://www.sphinx-doc.org/en/stable/index.html): it gives a nice HTML output ([e.g.](https://docs.python.org/3/)) and `LaTeX` (PDF) (can be used also with C/C++)
- [Doxygen](http://www.stack.nl/~dimitri/doxygen/): classic , already used in dpdk lib

[2017-10-04 15:11] mrakesha opened #52 "When the req-size and resp-size increases more than ~18k byte, the packet send rate is not achived 100% on warp17"
Hi Dumitru,

When a request and response size is configured less than 17k on WARP17, We are achieving the configured send rate with maximum 1% tolerance. But when we increase the request and response size beyond 17k bytes the send rate fluctuates. (Only ~70% of the send rate is achieved)

*This may likely be the issue #20.

Please find the log below

WARP17 CLI :
[code]

config :

[code]

Logs :

[2017-10-09 10:17] chandrasheker opened #53 "Enhancement to change HTTP request count and HTTP response count from uint32 to uint64 to avoid overflow"
In http stats it will be good if we can change http_req_cnt and http_resp_cnt from uint32 to uint64 to avoid quick integer overflow in longer runs.

[2017-10-09 16:37] dceara commented on #50
Fixed by commit https://github.com/Juniper/warp17/commit/1982d73ea3ca5e4ffbbb1c608978c6c06f0a4b1d.

[2017-10-09 16:37] #50 closed

[2017-10-10 09:29] dceara commented on #53
Fixed by commit https://github.com/Juniper/warp17/commit/a376a3354c80616f7c225b651f6ce3e7d52a14dd.

Will be available in v1.5

[2017-10-10 09:29] #53 closed

[2017-10-19 16:38] dceara commented on #20
Fixed by commit https://github.com/Juniper/warp17/commit/590add4745e757707d1bc45d4d17504eee8ca4aa.

Will be available in v1.5.

[2017-10-19 16:38] #20 closed

[2017-10-20 08:53] dceara opened #54 "Add support for IMIX-like application mix"
Allow users to configure multiple application types on the same test case.
Distribute the application types between sessions in that given test case based on user provided weights (or predefined default profiles).

[2017-10-24 08:35] jlijian3 opened #55 "Command cli hang"
Command cli hang, no response for key press.

[2017-10-24 08:51] dceara commented on #55
@jlijian3: please share a bit more information.

- what version of Warp17 are you running?
- what version of DPDK is installed on the machine?
- what is the command line you used?
- what CLI commands did you execute before the issue occurred?

Thanks,
Dumitru

[2017-10-24 09:29] jlijian3 commented on #55
Warp17  1.4
dpdk 16.11
./build/warp17 -c 0000ff00 -n 8 -- --cmd-file cmd.cfg
Then the cli had no response for any key pressed.
But the test server add by cmd.cfg  worked ok.

What in cmd.cfg is:
add tests l3_intf port 0 ip 192.168.130.254 mask 255.255.255.0
add tests l3_gw port 0 gw 192.168.130.1
add tests server tcp port 0 test-case-id 0 src 192.168.130.254 192.168.130.254 sport 80 80
set tests s

[2017-10-24 09:42] dceara commented on #55
@jlijian3 I'm assuming you have only one NIC assigned to DPDK. What is the output of `$RTE_SDK/tools/dpdk-devbind.py -s`?

`show tests ui` (last command in `cmd.cfg`) brings up the UI mode and you should see at least three panes:

- test status (top left)
- test config/test stats (bottom left)
- per port stats (right side of the screen)

Is the UI being displayed in your case? If so, then to exit

[2017-10-24 10:29] dceara commented on #55
@jlijian3 What about running Warp17 without any config?

`./build/warp17 -c 0000ff00 -n 8`

Does the CLI work when you start it like this?
Can you run commands like `show port info`?

If yes, what happens if you just paste the contents of `cmd.cfg` on the CLI?

[2017-10-25 04:40] jlijian3 commented on #55
@dceara
Yes, I have only one NIC bind igb_uio.
The "show tests ui" in config file show nothing.
I can't run any commands like show port info,
becase the cli echo nothing when I pressed keyboard even ctrl +c.
I can only stop it by kill.

My os is centos 7.4， gcc 4.8.5

The latest logs :
set tests server http port 0 test-case-id 0 200-OK resp-size 20
Port 0, Test Case 0 updated!
start tests port 0
U

[2017-10-25 10:13] jlijian3 commented on #55
The protobuf-c-rpc version is v1.0.0，and I fix some compile error about rpc api undefine.

-protobuf_c_dispatch_default());
+protobuf_c_rpc_dispatch_default());

 -protobuf_c_dispatch_run(protobuf_c_dispatch_default());
 +protobuf_c_rpc_dispatch_run(protobuf_c_rpc_dispatch_default());

gdb seen backtrace:
#0  0x00007f136533ca3d in poll () from /usr/lib64/libc.so.6
#1  0x00007f136583215a in protobu

[2017-10-25 12:24] dceara commented on #55
Thanks for the info @jlijian3. The problem is indeed due to the RPC loop. Your solution to remove RPC dispatch helps but it completely disables RPC support so automating Warp17 through the RPC protobuf based API.

In my opinion, the better solution is to keep the *empty* RPC idle handler which forces the `poll` to become non-blocking. Please see my comment on your commit:

https://github.com/jliji

[2017-10-26 01:41] jlijian3 commented on #55
Thanks very much! I can close this issue now.

[2017-10-26 01:41] #55 closed

[2017-10-26 06:38] jlijian3 opened #56 "Failed to allocate TCB after restart tests"
`warp17 v1.4`
`dpdk 16.11`
`hugepage 1GB x 32`
Command:
`./build/warp17 -c 0000fff0 -n 8 -- --cmd-file cmd_http.cfg`
The cmd_http.cfg is copy from examples/test_6_http_40M_sessions.cfg.
All going well. Then I stopped tests and changed some params.
`stop tests port 0`
`set tests rate port 0 test-case-id 0 send infinite`
`start tests port 0`
USER1 [6:test_case_init_tcp_clients()] Failed to allocate

[2017-10-26 07:19] dceara commented on #56
@jlijian3 `test_6_http_40M_sessions.cfg` will create 40M TCP sessions (i.e., 40M TCP clients on port 0 and 40M TCP servers on port 1). For each TCP endpoint Warp17 uses one TCB (TCP control block) structure. By default the maximum number of TCBs available in the mempool is 10M. You need to increase the TCB pool size to 80M. To do that you can change your cmdline to:

`./build/warp17 -c 0000fff0 -n

[2017-10-26 12:27] davvore33 opened #57 "Display version"
Should be useful to have an arg command and a cli/rpc command that return version in order to better support scripts

[2017-10-26 14:04] dceara commented on #57
@davvore33 There's already an RPC to return the current version (https://github.com/Juniper/warp17/blob/dev/common/api/warp17-service.proto#L209). A cmdline switch will do (e.g., `--version`).

[2017-10-26 15:12] dceara commented on #43
Fixed by @davvore33 with commit https://github.com/Juniper/warp17/commit/cc78a4324da1e61d4573af27f38c52051a10a6bc.

Will be available in v1.5.

[2017-10-26 15:12] #43 closed

[2017-11-02 08:07] dceara commented on #42
Will be available in v1.5.

[2017-11-02 08:07] #42 closed

[2017-11-10 14:58] dceara commented on #57
Will be available in v1.5.

[2017-11-10 14:58] #57 closed

[2017-11-20 06:36] mrakesha opened #58 "prevent packet drop for low sessons and rate, while using maximum core"
Hi Dumitru,

Raising this issue for tracking .

1. We want to use maximum cpu cores available on the warp17 machine and still should able to push the traffic as small as hundreds or thousands or millions without any drop.

or

Is it possible to have a mechanism of calculating the number of cores (approximate) required for a particular test based on  sessions and rates. (~10 % of tolerance should b

[2017-11-23 13:52] dceara opened #59 "Failed to set MTU higher than 2K for Intel X520 (82599ES) with DPDK 16.11.2"
Warp17 version: v1.5
DPDK version: 16.11.2

NIC:

[code]

In the Warp17 CLI:
[code]

[2017-12-01 10:13] dceara commented on #59
Fixed by commit https://github.com/Juniper/warp17/commit/3719ba13b403d75f1567a9cb70ecf75736b63bef. Will be available in v1.6

[2017-12-01 10:13] #59 closed

[2017-12-04 13:53] dceara commented on #58
Fixed by commit https://github.com/Juniper/warp17/commit/be260188e9f70ec2e8ae4a549688e70f90182677.

Will be available in v1.6.

[2017-12-04 13:53] #58 closed

[2017-12-21 14:30] tklicki opened #60 "Compilation on Debian Stretch (9.0) fails"
Hi,
I'm trying to compile warp17 on Debian Stretch and I'm getting following errors. Any ideas? Source code from 1.6 release.

[code]

[2017-12-21 14:33] tklicki commented on #60
I have following versions of packages:

[code]

[2018-01-08 08:49] davvore33 commented on #60
Hi there, sorry for the delay, as described [here](https://github.com/Juniper/warp17-private/blob/dev/common/README.md#install-google-protocol-buffers) you're supposed to use `protobuf >=2.6`, uninstall your current protobuf version and follow the "Ubuntu version >= 15.10" instructions.

[2018-01-15 17:17] #56 closed

[2018-01-15 17:23] dceara commented on #52
Addressed by commits: https://github.com/Juniper/warp17/commit/cac8241a0602502e5bd91737de229a19e5e336b8 and https://github.com/Juniper/warp17/commit/57c8dbaf42cb6d5c642e4143a1c46182a0101597. Also discussed offline all the required config changes.

Closing..

[2018-01-15 17:23] #52 closed

[2018-01-16 08:42] #60 closed

[2018-01-19 12:23] dceara opened #61 "Remove hardcoded port configuration"
Use the `dev_info` values returned by `rte_eth_dev_info_get` when configuring Ethernet ports (`port_setup_port`). We currently check only for max rx/tx queues but there are others that we should also check and adjust (e.g., max_rx_pktlen, hw_offloads).

[2018-02-19 05:34] vergorun opened #62 "Compile issue in warp17-1.7"
Hello, I'm trying to build warp17 1.7 release and get the following error:

  CC tpg_test_mgmt_api.o
/opt/warp17-1.7/src/tpg_test_mgmt_api.c: In function ‘test_mgmt_set_vlan_sockopt’:
/opt/warp17-1.7/src/tpg_test_mgmt_api.c:1556:5: error: this ‘if’ clause does not guard... [-Werror=misleading-indentation]
     if (opts->has_vlanso_id)
     ^~
/opt/warp17-1.7/src/tpg_test_mgmt_api.c:1558:9: note: .

[2018-02-19 12:34] dceara commented on #62
Fixed by https://github.com/Juniper/warp17/commit/c3dd878de73fe31e2ab3a8a6c160b436a1ced1cb.

Will be available in v1.8. Until then the `dev/common` branch contains the fix.

[2018-02-19 12:34] #62 closed

[2018-02-28 12:30] dceara commented on #61
Fixed by commit https://github.com/Juniper/warp17/commit/9a037af406ef130285466dcf4df2f105cbe0cf68. Will be available in v1.8.

[2018-02-28 12:30] #61 closed

[2018-02-28 17:14] dceara commented on #54
Functionality added by commit https://github.com/Juniper/warp17/commit/3a82d3ada70f9bae8af6d28d990c8742c6ce770f. Will be available in v1.8.

[2018-02-28 17:14] #54 closed

[2018-05-03 17:41] SSam009 opened #65 "ERROR: Rings PMD doesn't support vlan/ipv4/udp/tcp rx capabilities!"
wrong forum, will post into google group.

[2018-05-03 19:41] JQLSS commented on #65
wrong forum, will post into google group.

[2018-05-04 08:59] davvore33 commented on #31
I don't see this issue with dpdk17 anymore, you'll find the fix in 1.9 release

[2018-05-07 08:40] davvore33 commented on #65
Hi @JQLSS I've reopened this issue because we need it in order to better track our issues, thanks for reporting, I'm already on it

[2018-05-07 23:35] SSam009 opened #67 "Mellanox Driver Init Failing: PMD: mlx5_rxq.c:976: rxq_ctrl_setup(): too many SGEs (32) needed to handle requested maximum packet size 65536"
Latest code failing with Mellanox Driver.
DPDK Version:  dpdk-stable-16.11.1

----------------------------------------------------------------------------
EAL: Detected 56 lcore(s)
EAL: Probing VFIO support...
EAL: PCI device 0000:08:00.0 on NUMA socket 0
EAL:   probe driver: 15b3:1013 net_mlx5
PMD: mlx5.c:421: mlx5_pci_probe(): PCI information matches, using device "mlx5_0" (SR-IOV: false, MPS: f

[2018-05-07 23:38] SSam009 commented on #65
Thank you so much, I was able to run  Rings PMD with the latest code.

[2018-05-08 10:19] davvore33 commented on #65
Fixed by c400f9b649a8eaded125589de1c62b1de33355d4

Will be available in v1.8. Until then the dev/common branch contains the fix.

[2018-05-08 10:19] #65 closed

[2018-05-08 13:30] davvore33 commented on #67
Hi @SSam009 could you try to use this fix? We don't have any mellanox NIC to test

https://github.com/Juniper/warp17/tree/dev/iss67_mlxdriver

submit eventually updates please

[2018-05-08 14:10] SSam009 commented on #67
Failing with different error now  " ERROR: We don't support net_mlx5 since it has no "Maximum configurable length of RX pkt"!"
---------------------------------------------------

EAL: Detected 56 lcore(s)
EAL: Probing VFIO support...
EAL: PCI device 0000:05:00.0 on NUMA socket 0
EAL:   Device is blacklisted, not initializing
EAL: PCI device 0000:05:00.1 on NUMA socket 0
EAL:   probe driver: 8086:

[2018-05-09 13:58] SSam009 commented on #67
I am not sure it's correct fix,  but by looking at the working code (warp17-1.4 )  I have modified following line, now I don't see any errors for port initilization.
//port_dev_info[port].pi_dev_info.max_rx_pktlen = 0;
 port_dev_info[port].pi_dev_info.max_rx_pktlen = PORT_MAX_MTU;

[2018-05-09 15:20] davvore33 commented on #67
Could you test this last commit for us? Thank you @SSam009

[2018-05-09 17:36] SSam009 commented on #67
@davvore33,   getting the same error again

USER1: Found 2 Ethernet ports to start.
USER1: [port_setup_port()] Initializing Ethernet port 0.
PMD: mlx5_ethdev.c:547: dev_configure(): 0x960300: TX queues number update: 0 -> 27
PMD: mlx5_ethdev.c:557: dev_configure(): 0x960300: RX queues number update: 0 -> 27
USER1: WARNING: Cores handling port 0 are on different sockets! This will affect performanc

[2018-05-11 05:32] kenvay opened #68 "FTP support"
Hi, WARP17 team！
   Can you tell me when WARP17 can support the FTP protocol？If it is convenient, can you give me some suggestions so that I can support FTP protocol based on warp17 ?

[2018-05-14 17:40] SSam009 commented on #67
@davvore33 ,  tested the latest code, now it's failing with "Failed to allocate TCB." error.   I tried multiple configurations so far no success.

PMD: mlx5_ethdev.c:547: dev_configure(): 0x964380: TX queues number update: 0 -> 1
PMD: mlx5_ethdev.c:557: dev_configure(): 0x964380: RX queues number update: 0 -> 1
USER1: WARNING: Cores handling port 1 are on a different socket than the port itself! T

[2018-05-15 07:49] davvore33 commented on #67
Hi @SSam009 , can you post your command line? can be a matter of arguments as well

[2018-05-15 11:23] SSam009 commented on #67
@davvore33
warp17 -c 0x1E -n 4 -m 32768 -b 05:00.0 05:00.1 -- --qmap-default max-c --tcb-pool-sz  1024 --cmd-file test_dns_service.cfg
same command working with older version of warp17.

[2018-05-15 14:02] davvore33 commented on #67
@SSam009 with those resource binded to warp17 you won't have >1 billion of sessions (140.1.255.255 - 140.1.1.10 = 65258IPs * 19Kports = ~ 1Billion of sessions), Instead of
[code]
 you could try with something like

[code]

[2018-05-15 15:57] SSam009 commented on #67
Thanks, @davvore33, your config change suggestions are working good.

[2018-05-16 08:53] davvore33 commented on #67
Here is the commit on dev/common
Commit: https://github.com/Juniper/warp17/commit/8912d004595283127c0dce9983edb91fb55578f7
I'm going to close the Issue now

[2018-05-16 08:53] #67 closed

[2018-06-21 11:29] SSam009 opened #70 "Warp17 is failing to initialize X710 port"
warp is failing to initialize "Ethernet Controller X710 for 10GbE SFP+"  NICs.  It seems known issue and fixed in warp 1.5 ( https://github.com/Juniper/warp17/issues/42).  But it's still failing with latest code.

Here is my system config
warp17-dev-common
dpdk-stable-16.11.4

[root@test]# ./dpdk-devbind.py  --status

Network devices using DPDK-compatible driver
===================================

[2018-06-21 11:44] dceara commented on #70
Hi @SSam009,

Looks like the port is initialized properly:

[code]

But DPDK reports the link DOWN:
[code]

Are the two ports connected to a DUT? Or are they connected back to back? If there's a DUT can you please double check the link status on the DUT?

[2018-06-21 15:10] SSam009 commented on #70
@dceara , I am sorry it was my mistake, eth1 not connected to DTU.  We have fixed the connectivity issue,  it's working good.

[2018-06-21 15:10] #70 closed, assigned to dceara

[2018-06-25 21:26] SSam009 opened #73 "warp17 not working with Mellanox MT27700 Family [ConnectX-4] when we assign more than one core per port"
warp17 not working with Mellanox  ConnectX-4 when we run the test with more than one core per port.  Same test working good with X710 cards from the same host.

Environment:
Warp7-dev-common
dpdk-stable-16.11.1

CPU Layout:
============================================================
Core and Socket Information (as reported by '/proc/cpuinfo')
======================================================

[2018-06-26 11:02] SSam009 commented on #73
similar issue by Sanjay  https://groups.google.com/forum/#!topic/warp17/63JX3UXxzcw

[2018-06-28 10:37] davvore33 commented on #73
it might be because we set RETA even if we have 2 queues (as you have)
we’re looking into getting a mellanox NIC in our lab to make it work and have a full support to those NICs

[2018-07-10 20:13] SSam009 commented on #73
@davvore33 ,  I can verify in my test environment  if you have any code changes to fix this issue.

[2018-08-20 19:19] SSam009 opened #77 "https traffic generation"
is it be possible to add https traffic generation support to warp17?

[2018-08-20 20:42] SSam009 commented on #73
@davvore33 , it seems this issue fixed with the latest code I was able to run the test with multiple cores.

[2018-08-22 09:55] davvore33 commented on #73
Hi @SSam009, I'm glad to hear this from you, thank you again for reporting, I'll close the issue than

[2018-08-22 10:55] #73 closed, assigned to davvore33

[2018-08-27 08:50] davvore33 opened #78 "Fix README.md"
`README.mh` in /master is outdated (in particulare dpdk version is still at 16)

[2018-08-30 16:15] SSam009 opened #79 "WARP17: Wrong Connection Established counts"
WARP17 tests ui showing the very high number of Established connections on Server (Port1)  when compared to Client ( Port 0) .

[2018-08-30 16:15] SSam009 commented on #79
![warp17connections](https://user-images.githubusercontent.com/38958600/44864733-67945100-ac4e-11e8-812c-c575267d5ff2.JPG)

[2018-08-30 16:17] SSam009 commented on #79
The above screenshot is just after the test started,   Port 1 started with 3 million connections. It is very high compared to port0 connections (150K ).

[2018-08-31 08:35] dceara commented on #79
@SSam009 can you please share the config file you used and also the cmd line to start Warp17?

Is there a DUT in between? Does it act as TCP proxy for the sessions?

What version of Warp17 are you running?

Thanks,
Dumitru

[2018-08-31 11:44] SSam009 commented on #79
@dceara   I am using latest code (dev-common) . There is a DUT between the interfaces of the same host,   I don't think it acts as TCP Proxy.
**WARP LOADGEN HOST  NIC1** <----> Switch   <----> **WARP LOADGEN HOST  NIC2**

[2018-08-31 12:11] dceara commented on #79
@SSam009 can you also please share your full config? Was this working with v1.8?

[2018-09-07 10:18] mrakesha opened #80 "The current warp17 builds are not backward compatible with DPDK 16.11.2."
Hi Matteo and Dumitru,

Is it possible to make the current warp17 DCB or Master builds backward compatible to DPDK 16.11.2 as well (along with DPDK 17.3).
You can very well ignore this issue if its more complex nature or more time taking.

Please find the error message while trying to install the warp17 on machine esst-srv32 :

make[1]: Entering directory '/root/WARP17/warp17-dev-common/api'
  PC-

[2018-09-11 17:35] SSam009 opened #81 "MLX5 Error CQE"
Environment:

Red Hat Enterprise Linux Server release 7.5 (Maipo)
dpdk-stable-17.11.3/
warp17-dev-common/

I am not sure it's related to the warp17, getting Following Stack Trace with Mellanox Cards before starting the test:

start tests port 1
USER1: Test Case 0 started on port 1
Tests started on port 1
start tests port 0
USER1: Test Case 0 started on port 0
USER1: Port 1, Test Case 0 "PASSED"!
T

[2018-09-11 18:48] SSam009 commented on #79
@dceara
we are using RHEL 7.5,   I am not able to compile v1.8 on rhel7.5
here is test config
---------------------------------------------------------------------------------------

#PORT 0 - client port
#PORT 1 - server port

add tests l3_intf port 0 ip 100.64.18.3 mask 255.255.255.0
add tests l3_gw port 0 gw 100.64.18.2

add tests client tcp port 0 test-case-id 0 src 130.1.255.10 130.1.255.255

[2018-09-18 08:18] davvore33 commented on #79
I've tried on my setup with your configuration and I didn't see this problem, can you please post the command line you use to launch warp17 as well?

[2018-09-27 10:44] krisk0 opened #84 "README.md missing important information"
## Short story
How much memory is spent per TCP connection? per packet? How many CPU cores should be used? I suggest this should be clearly stated in README.

## Long story

My boss wants to know how many TCP connections can be kept up/set up by our software ... say software router. So I am making a simple virtual stand with two copies of warp17 and our router:
[code]
Need many ports in sport/dpor

[2018-09-27 12:16] dceara commented on #84
@krisk0 Warp17 runs on LTS versions of DPDK and we plan to keep it like that. We do use an older version of protobuf because of the limited functionalities of the protobuf-c libraries wrt RPC. We plan to upgrade it.

Fwiw `sizeof(tcp_control_block_t)` __on my test machine__ (which may be quite different than what you're running) in warp17 v1.8 with DPDK 16.11 LTS is:
[code]
However, this doesn't s

[2018-09-28 06:54] krisk0 commented on #84
Thank you for nearly complete answer.

When you update documentation, please mension the upper limit on `--tcb-pool-sz` parameter. IMHO there are at least 2 bounds:
[code]
I am currently trying to figure out the right-hand side of the second bound.

And will warp17 client/server run better (keep/generate more TCP sessions) if count of cores is larger than 2+queues count?

[2018-10-07 18:30] #78 closed, assigned to davvore33

[2018-10-10 11:45] krisk0 opened #85 "Warp17 client never closes established connections"
Short story: when I put down router and warp17 server, warp17 client reports huge number of established connections.

Long story follows.

Configure client as follows:
[code]
Configure server as follows:
[code]
Run server and client as separate programs, with router in-between. Watch count of established connections
[code]
Once some connections are established, put down router and server, so nothi

[2018-10-11 12:17] davvore33 commented on #85
hi @krisk0, I was able to replicate the issue, I'm looking into it right now, thanks for reporting

[2018-10-22 09:21] davvore33 commented on #85
hi @krisk0
We find out that those sessions which stay in "ESTABLISHED" state on client side, are waiting for replies but have no pending retransmission timer as they already received ACKs for all their sends, we already planned to add a timer that will kill those sessions so you'll see this problem fixed in next releases

[2018-10-22 09:21] #85 closed, assigned to davvore33

[2018-10-22 09:23] davvore33 commented on #80
Hi @mrakesha,
I'm sorry but dpdk17 isn't actually retro compatible

[2018-10-22 09:23] #80 closed, assigned to nobody

[2018-10-22 09:46] davvore33 commented on #85
hi @krisk0
We find out that those sessions which stay in "ESTABLISHED" state on client side, are waiting for replies but have no pending retransmission timer as they already received ACKs for all their sends, we already planned to add a timer that will kill those sessions so you'll see this problem fixed in next releases

[2018-10-22 09:52] davvore33 commented on #85
hi @krisk0
We find out that those sessions which stay in "ESTABLISHED" state on client side, are waiting for replies but have no pending retransmission timer as they already received ACKs for all their sends, we already planned to add a timer that will kill those sessions so you'll see this problem fixed in next releases

[2018-10-23 10:59] krisk0 commented on #85
In my test, client indefinitely sends 1-byte payloads. I am surprised that it stays connected after seeing no reply at all.

Waiting for fixed version of warp17. I hope to finally find out how many connections can get thru our software router.

[2018-10-31 08:02] Fy45 opened #87 "raw latency configuration issues in traffics"
Hi,
I am using the latest version of  warp17. And I use dpdk-16.11.7, the operating system is Ubuntu server 14.04 LTS and the driver of NICs are virtio.

When I studied your example of raw_latency.cfg and apply the command into my configurations, but when I run the scripts it always warning me for the problem that

**WARNING: Seting latency option without RX timestamping enabled in test case 0 con

[2018-10-31 08:04] Fy45 commented on #87
Also, I want to know if the connection set up by warp17 allows the multi-threads like in 5000 flows and how I can achieve that?

Thanks in advance!
BR,
Yuan.

[2018-10-31 17:26] dceara commented on #87
Answered on the [mailing list](https://groups.google.com/forum/#!topic/warp17/lLf79sn60s4).

@davvore33 can you please look into fixing the check that triggers the warning message? It's just a display issue.

[2018-11-23 16:41] ck-9000 opened #89 "Compile errors in 1.8"
Compiling on Ubuntu 14.04.5. Followed instructions/prerequisites found on https://github.com/Juniper/warp17.

root@ubuntu:~/warp17-1.8# make
make[1]: Entering directory `/root/warp17-1.8/api'
  PC-C warp17-common.proto
  PC-PY warp17-common.proto
  PC-XLATE warp17-common.proto
  PC-C warp17-l3.proto
  PC-PY warp17-l3.proto
  PC-XLATE warp17-l3.proto
  PC-C warp17-app-raw.proto
  PC-PY warp17-app-r

[2018-11-26 07:35] dceara commented on #89
@ck-9000 Looks to me like you're trying to compile v1.8 of Warp17 with the instructions of the dev/common branch (latest). The dev/common branch uses a newer version of DPDK (17.11.3) while v1.8 works with DPDK 16.11.2.

Please follow the [instructions on the master branch (v1.8)](https://github.com/Juniper/warp17/tree/master). It should fix your issue.

We'll be releasing v1.9 at some point soon

[2018-11-28 09:19] #89 closed, assigned to nobody

[2018-11-28 09:19] #84 closed, assigned to davvore33

[2018-11-29 21:18] ck-9000 opened #90 "Documentation/Display issue with rates"
I'm running a test based on the raw latency test case and I noticed an issue with the docs and how the config is displayed in the UI.

Relevant part of the profile here:
[code]
These are obviously small numbers; just for illustration.

In the docs, the "Configure test profile rates" section, the data rate definition is word-for-word identical to the setup rate. The setup rate seems to be to what i

[2018-11-30 10:14] davvore33 commented on #90
Hi @ck-9000 ,
we mean "session sends per second" from an application perspective, so not necessarily a single packet per send

[2018-11-30 10:34] ck-9000 commented on #90
Ah, thanks. What about the data rate thing? Isn’t that about bytes rather than sessions?

Sent from my iPhone

On Nov 30, 2018, at 5:15 AM, Matteo Triggiani <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @ck-9000<https://github.com/ck-9000> ,
we mean "session sends per second" from an application perspective, so not necessarily a single packet per send

—
You are receiving

[2018-11-30 13:33] davvore33 commented on #90
**setup rate** is the number of connections that the clients in the test are allowed to initiate [per second]
**data rate** is the number of connections that the clients in the test are allowed to send traffic [per second]

is this what you need to know?

[2018-11-30 14:11] ck-9000 commented on #90
Based on my testing it would appear to be an actual data rate, like in bytes per second because when I double that value, the switch interfaces show double the bandwidth regardless of how many connections or how fast they open. It seems to be a bandwidth cap. Like if I set it to 10,000, I get a bit over 10 megabit on the switch interfaces it is using, and if I set it to 100,000 I get a little over

[2018-11-30 14:54] davvore33 commented on #90
when you set 100000 as send rate, per each data packet you have:
- client sends pkt: 14 bytes eth + 20 IP + 20 TCP + 16 (data)
- server sends reply
- client sends ack: 14 bytes eth + 20 IP + 20 TCP
so from client to server for one client you have (54+16+54)*100000*8bits
which is 99200000, so probably this is a bit confusing from an external point of view

is it clear now?

[2018-11-30 15:03] ck-9000 commented on #90
That jibes with what I'm seeing. Essentially it caps how many sessions are going at once, so total bandwidth becomes a function of the value of data-req-plen/resp-plen and that rate?

[2018-11-30 15:23] davvore33 commented on #90
@ck-9000 exactly

[2018-12-13 14:56] #31 closed

[2018-12-13 15:12] #30 closed

[2019-03-07 10:38] davvore33 commented on #81
Hi @SSam009, I've fixed [lately](https://github.com/Juniper/warp17/commit/bae37edfd1dfd869875ff920813fb4ee871c02e4) a bug related to Mellanox (and non) configuration, can you try to replicate this with the latest `dev/common` branch?

[2019-03-07 15:17] davvore33 opened #91 "Raw timestap failure"
When I set up a testcase with "raw time stamping" on TCP stack and `uptime`, warp17 crash trying to freeing a `NULL` mbuf, with UDP it doesn't crash but neither it works

[2019-03-07 15:26] davvore33 commented on #77
Hi @SSam009, we are working on SSL/TLS right now using the dpdk support, we are going to add a "layer" ontop of layer 4 and under layer 5 so you can actually configure any kind of application over the TLS protocol

[2019-03-11 09:08] francovz96 opened #92 "Ubuntu 18.04 LTS support"
Setting up Warp17 according to the instructions on the Warp17 Git on an Ubuntu 18.04 LTS system, I ran into problems building Warp17 with the protobuf compilers given in the guide. Is there an updated guide for Ubuntu 18.04, or when will there be support for Ubuntu 18.04 ?

[2019-03-12 08:59] davvore33 commented on #92
Hi @francovz96 ,
can you please paste `protoc --version` and `protoc-c --version`?

[2019-03-12 09:16] francovz96 commented on #92
Hi @davvore33 thanks for the reply,

~# protoc --version
libprotoc 3.0.0

~# protoc-c --version
protobuf-c 1.2.1
libprotoc 3.0.0

[2019-03-12 12:21] francovz96 opened #93 "Benchmark test not executing due to tsr_error"
`Description, req_size, resp_size, rate, tx pps, rx pps, tx usage, rx usage
Test case didn't pass: tsr_error {
  e_code: 0
}
tsr_state: RUNNING
tsr_type: CLIENT
tsr_l4_proto: TCP
tsr_app_proto: RAW_CLIENT
tsr_stats {
  gs_up: 9572509
  gs_estab: 9572497
  gs_down: 0
  gs_failed: 0
  gs_data_failed: 0
  gs_data_null: 0
  gs_start_time: 619591557837
  gs_end_time: 619595547889
  gs_latency_stats {

[2019-03-12 13:01] davvore33 commented on #92
ok @francovz96 so here the problem is that we don't support protobuf 3 yet, what you can do is uninstall the 3.0 packets like this
`sudo apt remove libprotobuf-c0 libprotobuf-c0-dev libprotobuf8 libprotoc8 protobuf-c-compiler`
and follow the [README](https://github.com/Juniper/warp17#install-google-protocol-buffers) under the _Otherwise (Ubuntu version >= 15.10)_ title.

let me know if this solves

[2019-03-12 13:28] francovz96 commented on #92
Hi @davvore33, I did do the install according to the Ubuntu version >= 15.10 and I get the following result when trying to make.

`~/warp17-1.8# make
make[1]: Entering directory '/root/warp17-1.8/api'
google/protobuf/descriptor.proto:388:3: Expected "required", "optional", or "repeated".
google/protobuf/descriptor.proto:388:12: Expected field name.
Makefile.api:101: recipe for target 'generated/c/

[2019-03-12 13:41] davvore33 commented on #93
Hi @francovz96
I see here `tsr_error` is `0` which is how it is supposed to be, can I know how did you collect this message?

[2019-03-13 06:17] francovz96 commented on #93
Hi @davvore33,

I collect this meassage when running the python test_2_perf_benchmark.py, with the configuration in the test_2_perf_benchmark.txt file above. The test does not run and does not collect any results in benchmark.csv.

[2019-03-13 10:52] #87 closed, assigned to davvore33, dceara

[2019-03-13 13:10] davvore33 commented on #93
Hi @francovz96

I've just tried now and here it works, could you please paste the full command line you run?

You can try to raise warp17 directly from the command line like this
`./build/warp17 -c 0xFC3 -n 4 -m 24576 -w 65:00.0 -w 65:00.1 -- --tcb-pool-sz 24576 --ucb-pool-sz 24576 --qmap 65:00.0,0x4 --qmap 65:00.1,0x8`
and than run the benchmark example so it will "send" the test configurations t

[2019-03-14 04:59] francovz96 commented on #93
Hi @davvore33,

thanks very much for the quick reply, the command I run is : `python -u test_2_perf_benchmark.py -f /root/warp17/build/warp17 > ../../benchmarks/benchmark.csv `. I will try to run the example you gave.

[2019-03-14 05:39] francovz96 commented on #93
Hi @davvore33,

When I run warp17(top left), python command (bottom left) and test_2_perf.log(top right), this is the output I get, CPUS are still running but python scripts has been exited and nothin is happening on warp17 screen, could you maybe attach the test_2_perf_benchmark.py file you are using so that I can compare ?

![image](https://user-images.githubusercontent.com/48434017/54333728-44e

[2019-03-14 06:25] francovz96 commented on #93
Hi @davvore33 ,

I have found the place in the test_2_perf_benchmark.py file where it exits to be as in the figure below. Looks like result.tsr_state = FAILED, what could cause this ?

![image](https://user-images.githubusercontent.com/48434017/54335757-a14d0800-4632-11e9-9557-c7bce5de61c2.png)

[2019-03-14 09:30] davvore33 commented on #93
hi @francovz96,
so we spawn as many threads as many cores you give to warp17 and those threads keep looping forever even without any test configured, have said that, reason to `FAIL` are many,
on the warp17 cli, in your first screen top left, you can try to figure out if there's something wrong,
i suggest you to dig using the following commands in order:
- check for the arp table
`show arp entries

[2019-03-14 09:32] davvore33 commented on #92
hi @francovz96,
I guess you've sort out something, if you can put here the solution you dig out so the next ones can use your contribution

[2019-03-14 11:19] francovz96 commented on #92
Hi @davvore33,

I haven't got it working on Ubuntu 18.04 LTS yet, I am running Warp on Ubuntu 14.04 LTS currently.

[2019-03-14 13:01] francovz96 commented on #93
Hi @davvore33,

Looking at the arp entries after test_2_perf_benchmark.py stops running I find this

![image](https://user-images.githubusercontent.com/48434017/54358437-19cebb80-4669-11e9-8f11-666ccc13451f.png)

The arp statistics look like this,

![image](https://user-images.githubusercontent.com/48434017/54358555-58647600-4669-11e9-82e7-4c57c6d3a2da.png)

The ipv4 statistics look as follows,

!

[2019-03-18 08:55] francovz96 opened #94 "Warp17 compatibility with servers"
Is Warp17 compatible with Iperf or can it be configured to issue requests to an actual server running on a seperate host ?

[2019-03-19 08:34] davvore33 commented on #94
Hi @francovz96
warp17 fully emulate the applications supported (and the whole stack of protocols behind) so you can safely run it coupled with other servers or in two different hosts, the only feature not supported when warp17 is being run in two different hosts by now is timestamping.
Said that, we never test it in this way.

[2019-03-25 08:37] davvore33 opened #95 "Qmap specification"
If we provide more qmap than configured interfaces we return
`Cause: ERROR: Qmap not specified for all interfaces!`
which is not the case

[2019-04-03 11:23] 0xROLANDIAN opened #96 "DPDK 18.08 support with Warp 17-1.8"
Hi I have a Warp17-1.8 and dpdk 18.08 (on Centos 7.0.1406). I tried to make Warp17 after installing protobuf dependencies as outlined in README.md
[code]
It fails to compile, but reading around I see that versions of warp on support certain versions on dpdk, so if I want to use I will have to downgrade my version ?  I would like to avoid that as I have already pre-compliled dpdk applications devel

[2019-04-08 07:32] davvore33 commented on #96
Hi @hyperhead ,
I'm sorry to inform you that Warp17 [`v1.8`](https://github.com/Juniper/warp17/tree/v1.8) (the latest stable) supports only dpdk since <=16.11, if you need to use greater version of dpdk you can use branch [`dev/common`](https://github.com/Juniper/warp17/tree/dev/common) which actually supports dpdk version 17.11.3

[2019-04-08 07:32] #96 closed, assigned to nobody

[2019-04-08 08:42] 0xROLANDIAN commented on #96
Hi davvore33,   Ok thanks for update.

[2019-05-08 06:18] chandrasheker opened #97 "Incorrect command line help string for timer statistics."
Command line help string for timer statistics is wrongly displayed. Please have a look below.

warp17> show timer
 statistics [Fixed STRING]: show tcp timer statistics
 statistics [Fixed STRING]: show tcp timer statistics details

[2019-05-14 13:02] #97 closed, assigned to davvore33

[2019-05-17 07:46] davvore33 commented on #91
WORKAROUND: after have spent few time on debugging I wasn't able to spot what cause the `NULL` pointer issue bug you can easily configure 2 different testcases, one that measure the latency and the other with the proper traffic generation

[2019-05-23 09:41] davvore33 opened #99 "Cli show test config display 0 GW"
`show test config port x` shows as follow
[code]

[2019-05-24 14:07] mvdroest commented on #92
Seems to go wrong here also. Uninstalled the default stuff and packed all the old packages.
Still fails and is a pain in the ass to get the old stuff working. Is there any update to get it in a more modern system?

[2019-05-26 15:27] davvore33 commented on #92
Hi @mvdroest, I've tried lately to update to `protobuf 3` but sadly Google changed the rpc under our feet dropping the old ones, so I'll have to change the API definition to the newer [gRPC](https://www.grpc.io/) hoping that someone has done the `C` version (since google don't support it at all)

[2019-05-27 16:33] mvdroest commented on #92
Thanks for that update. Downloaded the OFV to see if that also helps.  Like  to make it also work for ppl here that dont love Trex to much. So this seems to be a good way to go forward. Need to test also how i can fix i and help also.
@davvore33 Thanks for the update

[2019-06-10 20:40] mcaulifn commented on #92
trusty is no longer available:

[code]

[2019-06-11 08:50] davvore33 commented on #92
I see, I'll repackage those old packets as temporary solution for protobuf

[2019-06-12 09:01] venksubr opened #100 "Implement TCP window scaling support RFC 1323"
Its good to Implement TCP window scaling support RFC 1323 to support window size greater than 65535 . Now a days higher bandwidth NIC like 100G are available and these feature helps to get higher throughput.

[2019-06-13 12:52] mcaulifn commented on #92
any update on the legacy packages? do you have instructions on compiling each component from source?

[2019-06-14 07:10] davvore33 commented on #92
Hi @mcaulifn, I've tried creating a ppa for ubuntu but seems a quite complex procedure and sadly I'm in shortage of time, so right now I've uploaded the old debs on cloud and I'm writing a small bashscript that automatically installs the whole deps, those included, I'm going to share the branch today [CET]

[2019-08-29 14:39] davvore33 opened #102 "starter.py is not assigning correctly socket mem"
For some reason we end up having a list of numbers instead of socket,mem

[2019-09-17 14:23] davvore33 opened #104 "travis compile failure"
Latest commit has broken the travis CI, we should fix ASAP the support for that

[2019-09-23 13:46] #102 closed, assigned to davvore33

[2019-10-01 09:16] #104 closed, assigned to davvore33

[2019-10-10 17:26] gramasam opened #106 "Warp17: Supporting of protocol device emulation feature and MPLS raw packet/L2 frame generation"
From ganeshrama@juniper.net
- Supporting of device emulation like ospf, bgp, and its capability(for e.g., ebgp session creation, bumping 100k bgp routes to DUT, passing user traffic via bgp sessions)
- Creation of MPLS (raw) packets and passing across to DeviceUnderTest

[2019-11-07 10:36] davvore33 opened #108 "When we try to set uptime/downtime/init on a server testcase we report a wrong error message"
[code]

Timeouts are not supported on server tests which means that the error its self is an expected behavior but the message is definitively misleading, this has to be fixed before any next release

[2019-11-13 10:31] davvore33 opened #110 "QinQ support"
We support QinQ only on receiving side (where we properly parse the QinQ VLAN headers) but we still don’t have it supported on the sending part

[2019-11-13 10:33] davvore33 commented on #110
Here is the reference to the standard to be followed
https://en.wikipedia.org/wiki/IEEE_802.1ad

[2019-12-09 15:20] davvore33 opened #111 "Starter script doesn't collect memory (crash)"
When reading the memory from file, [splitting by whitespaces](https://github.com/Juniper/warp17/blob/dev/common/python/starter.py#L342) cause errors (in case the file is formatted differently)

[2019-12-18 15:56] janekmi commented on #81
@davvore33, can you elaborate a bit what was the nature of this issue? I'm experiencing a similar issue with other software and I would love to know what causes it.

[2019-12-19 09:37] davvore33 commented on #81
Hi @janekmi, we were imposing wrong offloads to the NIC in particular `DEV_RX_OFFLOAD_VLAN_STRIP`, although it's been quite a long time, I'm not sure if it was that the problem, let me know if you'll find anything more about this

[2019-12-23 08:42] kogdenko opened #112 "Build on CentOS 7.6"
Hi!
Trying to build warp17 on centos7.6. Compilation failed:
[code]
I get protobuf-c-rpc from https://github.com/protobuf-c/protobuf-c-rpc
What I am doing wrong?

[2019-12-28 14:00] davvore33 commented on #112
Hi @kogdenko ,

Can I ask you the results of those two commands?
[code]
Many Thanks

[2019-12-28 16:22] kogdenko commented on #112
[code]

[2019-12-30 08:40] davvore33 commented on #112
Ok @kogdenko , this is what I got
[code]
I'm not sure how this can affect, I'll try to install it on CentOS on my own today, brb

[2020-01-09 09:53] davvore33 commented on #112
@kogdenko Sorry to bother you but I'm having problems compiling protoc over there, can you please provide the steps you had to do?

[2020-01-09 13:12] kogdenko commented on #112
Hello
[code]

[2020-01-13 10:00] davvore33 commented on #112
for some reason when I try to compile and install https://github.com/protocolbuffers/protobuf/tree/2.6.1-artifacts than protobuf-c doesn't find it

[2020-02-17 14:51] janekmi commented on #81
After proper debug I have found the root cause. It all boils down to CQ overrun.
Nothing fancy.

[2020-02-18 09:02] davvore33 commented on #81
That's annoying, so if we are good I'd close the issue @janekmi

[2020-02-18 15:45] janekmi commented on #81
Agreed.

[2020-02-19 08:49] #81 closed, assigned to davvore33

[2020-06-28 13:37] Mathiew001 opened #114 "dpdk 18.11 is supported?"
Hi，dpdk 18.11 is supported or not?

[2020-06-29 08:04] davvore33 commented on #114
Hi @Mathiew001, I'm sorry to tell you that dpdk v18 it's not officially supported even in the `dev/common` branch so far, although you may try to run
` sudo bash ./build_dpdk.sh -v 18.11.8 -j 2 -i`
 in the source root and recompile warp17

[2020-06-30 22:37] dceara commented on #112
The installation procedure should probably be changed to install from sources from https://github.com/protobuf-c/protobuf-c-rpc instead of downloading unsigned packages. This probably requires some changes in tpg_rpc.c indeed to use the new `protobuf_c_rpc_dispatch_default`/`protobuf_c_rpc_dispatch_add_idle`/`protobuf_c_rpc_dispatch_run` APIs instead of the old `protobuf_c_dispatch_default`/`proto

[2020-07-13 14:41] davvore33 commented on #112
@dceara I guess we should at this point update the whole project to protobuf 3, it shouldn't be a huge amount of work anyway, I've never had the chance to look too much into it but for what i got they split the project in two parts

[2020-07-16 15:46] dceara commented on #112
@kogdenko, @davvore33, for CentOS 7.6 I managed to get Warp17 up and running with the following changes (still WIP):

https://github.com/dceara/warp17/commit/7cfedb128987d13b82602fe51120956f980de661

[2020-07-17 10:55] anuradhapriyankara opened #116 "http bandwidth drops periodically"
Hi,
I am developing a traffic monitoring application and planning to use warp17 for testing it. However, I have experienced that warp17 application traffic bandwidth drops periodically.  Here is a snapshot I captured by my monitoring application. I am expecting to have a flat curve without periodic drops.

![traffic](https://user-images.githubusercontent.com/48677192/87777873-e943f680-c847-11ea-9c

[2020-07-17 11:04] chandrasheker commented on #116
I think you need to modify your uptime to infinity, I think this is configured as 10 seconds.

[2020-07-17 11:29] anuradhapriyankara commented on #116
Thanks for the reply. I don't think uptime is the problem here. I have set stop time to 36000(10 hours) on below line of python script for both client and server,

`scrit = TestCriteria(tc_crit_type=SRV_UP, tc_srv_up=stop_time)`

[2020-07-20 14:52] davvore33 commented on #116
Hi @anuradhapriyankara, could you please give us the whole configuration, either way python commands or cli commands is fine

[2020-07-22 06:45] anuradhapriyankara commented on #116
Hi, @davvore33 Sorry for the extreme delay.
I have faced this problem first with warp17 v1.6. So thinking the older version was the problem I have upgraded to v1.8. However the problem still exists.
I cannot publish my original code due to company policy, but I was able to replicate the problem using test_1_http_4M.py

Here is my code,

`
import sys
import time
import os
import argparse

sys.path.

[2020-08-14 06:13] anuradhapriyankara opened #117 "Run on SR-IOV NIC"
Hi,
I'm trying to run warp17 v1.6 on a virtual machine which has 2 virtual NICs of Intel X710 virtualized using SR-IOV.
When I'm trying to run test_3_http_multiple.cfg the following error occurs,

`PMD: i40evf_dev_configure(): VF can't disable HW CRC Strip
USER1: WARNING: Virtual driver does not support multiple rings, use single packet core!!
USER1: ERROR: Failed rte_eth_dev_configure(0, 1, 1, ..

[2020-10-26 15:13] brd opened #122 "Ubuntu 16.04.7 fails to build"
I cloned warp17 @ f51cc6b8f1da7ca9703c7fbb951a638ae4a0e9dc and it fails to build on Ubuntu 16 after running `sudo ./build_dpdk.sh -v 19.11.3` and `sudo ./dep_install.sh`.  Note that `dep_install.sh` should also install pkgconf.

Build log:

[code]

/etc/os-release:
[code]

[2021-07-02 21:11] redbeardmeric opened #124 "User Interface Question"
Specifically, what is the category "SW"?

[2021-07-04 09:07] davvore33 commented on #124
those are the statistics based on the traffic from the point of view of the software level (L5) [code: [dev/common/src/tpg_test_stats.c#L864](https://github.com/Juniper/warp17/blob/dev/common/src/tpg_test_stats.c#L864) ]

[2021-07-06 14:24] redbeardmeric commented on #124
Thank you for the clarification!

[2021-07-06 14:24] #124 closed, assigned to nobody

[2021-07-09 18:47] redbeardmeric opened #125 "Multiple Source IPs"
I'm trying to create a test that will simulate a traffic load from many IP addresses, the number thrown at me was 100k.

./warp17/build/warp17 -c AAAAAAAAAB -- --qmap-default max-q --tcb-pool-sz 32768 --cmd-file ./warp17/examples/LATech_MultipleIP.cfg

I'm running on a 2 socket 40-core system, the NIC is on socket 1, hence the 0xAAAAAAAAB.

I have 32768 * 2MB huge pages.

I've gotten 3 simultaneou

[2021-07-10 08:31] davvore33 commented on #125
Hi @redbeardmeric ,

so I'm not sure what's your numacore map but I fear that your coremask might not be the best,
if all your cores are on socket 1 as your interface, this will be your coremask `0xFFFFFFFFFC`, you can check for this information running `usertools/cpu_layout.py` provided by dpdk

when you got the "Failed to allocate TCB" message most likely your `tcb-pool-sz` is not big enough, I

[2021-07-11 23:41] redbeardmeric commented on #125
Hi @davvore33,

Thanks for the quick response.

cpu_layout.py shows me that I have 2 physical chips, 20 cores each, one on socket 0, one on socket 1.  The NIC I'm using it on socket 1, so I am using only the cores on socket 1, plus one from socket 0 for management/cli.  That's how I understood it to be the best way to run.

I'm trying to run starter.py but I'm getting a KeyError for line 784 qmaps

[2021-07-12 11:58] dceara commented on #125
@redbeardmeric The test config you're running, `add tests client tcp port 0 test-case-id 0 src 10.0.0.100 10.0.0.102 sport 10001 60000 dest 10.0.0.253 10.0.0.253 dport 6001 6200` will try to generate 24M connections, ~but the default "connection block" memory pool only allocates 10M~.  As @davvore33 suggested you need to increase the value of the `tcb-pool-sz` argument ~accordingly~ further more b

[2021-07-12 12:56] redbeardmeric commented on #125
@dceara  Thanks for the additional information.  I have changed my core mask to as @davvore33 suggested and increased `tcb-poop-sz` to 65536 and I get an mpool error.

I'm curious, how are you parsing that will run 24M connections?

I appreciate the help.

[2021-07-12 13:04] dceara commented on #125
You might need to increase the memory size available to warp17:

https://github.com/Juniper/warp17#dpdk-command-line-arguments

I did `3 source IPs * 50000 source tcp ports * 1 dest IP * 200 dest tcp ports` but my math was wrong, it should've been 30M indeed, sorry.

No worries, hope we figure it out.

[2021-07-12 13:20] redbeardmeric commented on #125
@dceara  Ok, good, I thought that's what you were looking at.

What I'm gathering is that within the limits of my system hardware, if I want to increase the number of IPs that I'm seeing come from Warp 17, I need to decrease the number of sessions per IP.  Would this be a correct interpretation?

[2021-07-12 14:49] dceara commented on #125
@redbeardmeric That's an option too, the source port range is quite large (50K) in your example.

[2021-07-12 15:59] redbeardmeric commented on #125
@dceara

So I'm using this with the attached file:
 ./warp17/build/warp17 -c FFFFFFFFFC -m 51426 -- --qmap-default max-c --mpool-any-sock --tcb-pool-sz 65536 --cmd-file ./warp17/examples/Trafficscript.txt

This runs and sampling specific IPs from this range show traffic originating from the IPs in the range.  In the UI I see that client sending packets, and the server receiving and sending packets

[2021-07-13 07:47] dceara commented on #125
Looks to me like the server side configuration is wrong.  This:
[code]
should probably be:
[code]
I didn't test this out but, IIRC, without the change above, the server will just RST all SYN packets sent with dest port in range 6002-6201.

[2021-07-13 12:52] redbeardmeric commented on #125
I'm sure that would have been an issue in the future, but I just implemented this fix and still not getting any server response to the client.

Thanks!

[2021-07-13 15:50] chandrasheker commented on #125
From Trafficscript.txt file

Below line needs to be modified from

add tests client tcp port 0 test-case-id 0 src 10.0.0.3 **10.1.134.163** sport 10001 10001 dest 10.1.134.164 10.1.134.164 dport 6001 6201

to

add tests client tcp port 0 test-case-id 0 src 10.0.0.3 **10.0.0.4** sport 10001 10500 dest 10.1.134.164 10.1.134.164 dport 6001 6100

and as dceara mentioned

Server test should be modified

[2021-07-13 15:54] redbeardmeric commented on #125
@chandrasheker

Yes that gets 100k sessions, but I'm specifically trying to get 100k IPs which `add tests client tcp port 0 test-case-id 0 src 10.0.0.3 10.1.134.163 sport 10001 10001 dest 10.1.134.164 10.1.134.164 dport 6001 6201` accomplishes.  The only issue is that the server responses are not making it back to the 100k clients.  Even with `add tests server tcp port 1 test-case-id 0 src 10.1.13

[2021-07-13 16:19] chandrasheker commented on #125
100k IPs?? No AFAIU about WARP17 we do not support so many IP address to configure and run tests.

https://github.com/Juniper/warp17/blob/dev/common/api/warp17-common.proto#L74 this value restricts the IP addresses to be configured to max of 10.

@dceara and @davvore33 correct me if I'm wrong.

[2021-07-13 16:34] redbeardmeric commented on #125
Only 10 @ L3.  The file I attached has 100k IPs @ L4, which is working.  Just the issue with the responses.

[2021-07-14 02:11] chandrasheker commented on #125
"show arp entries" output please.

Just as a suggestion can you modify l3_gw on server and client ports as below in Trafficscript.txt file and let me know the behavior if possible.

add tests l3_gw port 0 gw 10.1.134.164

add tests l3_gw port 1 gw 10.0.0.1

[2021-07-19 14:03] redbeardmeric commented on #125
@chandrasheker Apologies for the drop out.  I have modified l3_gw on server and client and responses are now getting through.  Thanks!

I now have 100k IPs  w/ 40 sessions each transmitting and receiving.

Thanks everyone for the help.

[2021-07-23 12:06] #125 closed, assigned to nobody

[2021-08-02 18:54] redbeardmeric opened #126 "SSL/TLS Traffic Generation"
Is there a way, currently, to have W17 generate SSL/TLS traffic?  I'm trying to stress test a traffic monitor that uses nDPI to classify traffic.

Any help or suggestions would be appreciated.

[2021-08-02 18:58] davvore33 commented on #126
Hi @redbeardmeric , this feature is in the roadmap, I've started few years ago to write it but unluckily I've faced an issue which I wasn't able to solve, I might be able to expose the branch if anybody is willing to help anyhow

[2021-10-09 09:04] sonntex commented on #77
Could you tell the status, please?

[2021-10-09 09:14] sonntex commented on #126
Hi @davvore33 , it would be great if you share the branch. I was working on the same feature at my previous job and now I need it again for a stress testing. This time I want to take a good basis like warp17.

[2022-07-01 17:48] manuks88 opened #128 "Warp17 fails to run with "USER1: ERROR: WARP17 couldn't find any available ports!""
Hi team, my requirement is to check around 10M CPS (stateful). I have 2 hosts(one as server & other as client), running Ubuntu-20.04 and each has single port 100G Mellanox ConnectX-5 card. I have installed MOFED with dpdk support.
I followed the "Installing and configuring" section and whenever I try to run the application it bails out as below :

`root@host1:/home/warp17# ./build/warp17 -w af:00.

[2022-07-08 19:13] manuks88 opened #129 "Enable support for python3 & proto3"
Hi team, warp17 doesn't compile with python3 & proto2/proto3. Please enable support for it.

`make[1]: Entering directory '/home/localadmin/warp17/warp17-1.8/api'`
`  PC-C warp17-app-http.proto`
`[libprotobuf WARNING google/protobuf/compiler/parser.cc:562] No syntax specified for the proto file: warp17-app-http.proto. Please use 'syntax = "proto2";' or 'syntax = "proto3";' to specify a syntax vers

[2022-07-11 12:11] davvore33 commented on #129
Hi, yes unluckily there's no straight way to support proto3, this project is now orphan the facto so unless some developer will actually fix this no proto3/python3 support will come

[2022-07-13 03:50] manuks88 opened #130 "Example config for testing CPS (Connections per second)"
Hi team, can anyone post an example config to test CPS for raw TCP and http traffic. With the current examples set I see that it will establish "X" sessions and it does data transfer over those sessions.

[2022-07-13 03:56] manuks88 commented on #129
Thanks @davvore33. For now the src code from git repo works with py3. So no need to download it from release.

[2022-07-13 03:58] manuks88 commented on #128
The issue was that the mellanox driver was not getting enabled when we run "build_dpdk.sh". As a workaround I manually installed dpdk_v19.11.3 with mlx5 support and was able to build warp17 without any issues and run tests

[2022-07-13 03:58] #128 closed, assigned to nobody

[2022-10-13 12:54] davvore33 commented on #130
actually wp17 will open and close the given number of TCP sessions (even for http) so those are already CPS tests, do you need something specific?